@import '../../styles/mixins';
@import '../../styles/globals';

// ParallaxBackground.scss

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; // Wijzig de waarde naar 'contain'
  max-width: 100%;

  // Voeg hier andere stijlen toe voor het parallax-effect
}
