@import '../../styles/globals'; // Import global style variables and settings
@import '../../styles/mixins'; // Import mixins for reusable style definitions

// Styling for the hamburger menu
.hamburgerMenu {
  display: none; // Initially hidden

  // Display the hamburger menu on extra small and small screens
@include extra-small-screen {
  display: block; // Show on extra small and small screens
}
@include small-screen {
  display: block; // Show on extra small and small screens
}

  position: relative; // Establishes a positioning context for dropdown
}

// Within the hamburger menu...
.hamburgerMenu {
  // Styling for the menu icon
  .icon {
    cursor: pointer; // Change cursor to pointer to indicate it's clickable
  }

  // Styling for the dropdown menu
  .dropdown {
    position: absolute; // Position it absolutely to align with the menu icon
    top: 100%; // Position below the menu icon
    left: 0;
    background: linear-gradient(to right, $primary-color, $fourth-color); // Gradient background
    width: auto; // Adjust width based on content
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); // Box shadow for depth

    // Styling for each link in the dropdown menu
    .link {
      display: block;
      padding: 30px 40px; // Padding for spacing
      text-decoration: none; // Remove underline from links
      border-top: 1px solid #ccc; // Top border for separation
      color: white; // Text color

      // Hover and active state styles
      &:hover {
        background: $secondary-color; // Change background on hover
      }
      &.active {
        background: $primary-color; // Background for active state
      }
    }
  }
}
