@import '../../styles/mixins';
@import '../../styles/globals';

// Voeg deze stijlen toe aan je .scss-bestand

.headerWrapper {
  position: relative; // Dit zorgt ervoor dat alle absolute elementen binnen deze div relatief zijn aan deze div.
  text-align: center; // Als je de tekst in het midden wilt hebben
}

.backgroundImage {
  max-width: 100%; // Maximale breedte is 100% van de viewportbreedte
  max-height: 75vh; // Maximale hoogte is 100% van de viewporthoogte
  width: auto; // Behoud de oorspronkelijke verhoudingen van de afbeelding
  height: auto; // Behoud de oorspronkelijke verhoudingen van de afbeelding
  display: block; // Zorgt voor een correcte weergave van de afbeelding
  margin: 0 auto 1rem;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 3);
}


.headerText {
  position: absolute; // Dit positioneert de tekst over de afbeelding.
  top: 20%; // Centreert de tekst verticaal.
  left: 50%; // Centreert de tekst horizontaal.
  transform: translate(-50%, -50%); // Nauwkeurige centrering ongeacht de tekstgrootte.
  color: white; // Als je een lichte tekstkleur wilt.
  font-size: 5rem;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  //background-color: white;
  @include extra-small-screen {
    font-size: 2rem; // kleinere grootte voor kleine schermen
  }

  @include small-screen {
    font-size: 3rem; // kleinere grootte voor kleine schermen
  }

  @include medium-screen {
    font-size: 4rem; // middelgrote grootte voor middelgrote schermen
  }
}

.electionHelperContainer {
  max-width: 1440px; // Stel een maximale breedte in zodat het niet uitrekt op grotere schermen
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; // Voeg padding toe voor kleinere schermen

  .topicTitle,
  .selectedPartiesTitle,
  .pageTitle {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }

  @include extra-small-screen {
    padding: 0 10px; // Minder padding voor extra kleine schermen
  }

  // Je kunt verdere aanpassingen maken met media queries
  @media (max-width: 768px) {
    max-width: 100%; // Laat de container de volledige breedte innemen op kleine schermen
  }
}

// En pas je mixins aan als ze dat nog niet zijn:
@mixin extra-small-screen {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin small-screen {
  @media (min-width: 601px) and (max-width: 960px) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: 961px) and (max-width: 1280px) {
    @content;
  }
}

.buttonsContainer {
  display: flex; // Plaats de knoppen naast elkaar
  justify-content: space-between; // Voeg ruimte tussen de knoppen toe
  // Voeg wat ruimte toe boven de knoppen
  width: 50%;
  margin: 2rem auto;
}

.selectedPartiesContainer{
  margin-top: 2rem;
}


