@import '../../styles/mixins';
@import '../../styles/globals';

// Voeg deze stijlen toe aan je .scss-bestand

.headerWrapper {
  position: relative; // Dit zorgt ervoor dat alle absolute elementen binnen deze div relatief zijn aan deze div.
  text-align: center; // Als je de tekst in het midden wilt hebben
}

.backgroundImage {
  max-width: 100%; // Maximale breedte is 100% van de viewportbreedte
  max-height: 100vh; // Maximale hoogte is 100% van de viewporthoogte
  width: auto; // Behoud de oorspronkelijke verhoudingen van de afbeelding
  height: auto; // Behoud de oorspronkelijke verhoudingen van de afbeelding
  display: block; // Zorgt voor een correcte weergave van de afbeelding
  margin: 0 auto 1rem;
  display: block; // Dit verwijdert onnodige witruimte onder de afbeelding.
}

.headerText {
  position: absolute; // Dit positioneert de tekst over de afbeelding.
  top: 20%; // Centreert de tekst verticaal.
  left: 50%; // Centreert de tekst horizontaal.
  transform: translate(-50%, -50%); // Nauwkeurige centrering ongeacht de tekstgrootte.
  color: white; // Als je een lichte tekstkleur wilt.
  font-size: 5rem;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  //background-color: white;
  @include extra-small-screen {
    font-size: 2rem; // kleinere grootte voor kleine schermen
  }

  @include small-screen {
    font-size: 3rem; // kleinere grootte voor kleine schermen
  }

  @include medium-screen {
    font-size: 4rem; // middelgrote grootte voor middelgrote schermen
  }
}
