@import 'mixins'; // Import mixins for reusable style definitions

// Define color variables for consistent theming
$primary-color: #011627;
$secondary-color: #083948;
$third-color: #03CEA4;
$fourth-color: #FB3640;
$fifth-color: #750D37;
$sixth-color: #27aecc;

// Import Google fonts Montserrat and Roboto for typography
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,300&family=Roboto:ital,wght@0,300;0,400;0,900;1,100;1,300;1,400&display=swap');

// Define primary and secondary font variables
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Mixin for setting primary font with optional weight and style
@mixin font-primary($weight: 400, $style: normal) {
  font-family: $font-primary;
  font-weight: $weight;
  font-style: $style;
}

// Mixin for setting secondary font with optional weight and style
@mixin font-secondary($weight: 400, $style: normal) {
  font-family: $font-secondary;
  font-weight: $weight;
  font-style: $style;
}

// Global styles for the body element
body {
  @include font-primary(200); // Apply primary font with a weight of 200
  margin-top: 72px; // Top margin for the body

  // Responsive styling for extra-small screens
  @include extra-small-screen {
    margin-top: 66px; // Adjust top margin for extra-small screens
  }

  // Responsive styling for small screens
  @include small-screen {
    margin-top: 72px; // Adjust top margin for small screens
  }
}

// Styling for h1 headings
h1 {
  @include font-secondary(800); // Apply secondary font with a weight of 800
}

// Styling for h2 headings
h2 {
  @include font-secondary(400); // Apply secondary font with a weight of 400
}

// Styling for emphasized text
em {
  @include font-primary(400, italic); // Apply primary font with italic style
}

// Reusable class for bold primary text
.primary-bold {
  @include font-primary(900); // Apply primary font with a weight of 900
}

// Reusable class for italic secondary text
.secondary-italic {
  @include font-secondary(300, italic); // Apply secondary font with italic style
}