@import '../../styles/mixins';
@import '../../styles/globals';

// Styling for the overlay that appears behind the modal. It covers the entire viewport.
.modalOverlay {
  position: fixed; // Fixed positioning to cover the entire screen
  top: 0;
  left: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black background
  display: flex; // Flexbox for centering the modal
  justify-content: center; // Horizontally center the modal
  align-items: center; // Vertically center the modal
  z-index: 1000; // High z-index to ensure it's on top of other content
  // Container for the modal content. It helps in centering the modal content.
  .modalContainer {
    display: flex; // Flexbox for centering
    justify-content: center; // Horizontally center the content
    align-items: center; // Vertically center the content
    width: 100%; // Full width
    height: 100%; // Full height
    // Styling for the modal box itself.
    .modal {
      background: #fff; // White background
      padding: 20px; // Padding around the content
      border-radius: 5px; // Rounded corners
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Subtle box-shadow for depth
      z-index: 1001; // Ensuring it's above the overlay
      width: 80%; // Width relative to the viewport
      max-width: 1000px; // Maximum width
      text-align: center; // Center align the text
      position: relative; // Relative positioning for absolutely positioned children
      max-height: calc(100vh - 40px); // Maximum height to avoid viewport cutoff
      display: flex; // Flexbox for internal layout
      flex-direction: column; // Stack children vertically
      overflow: auto; // Enable scrolling for overflow content

      // Styling for the close button in the modal.
      .styled-button.close {
        font-size: 2rem; // Larger font size for the close icon
        cursor: pointer; // Cursor changes to pointer to indicate clickability
        position: absolute; // Absolute positioning relative to the modal
        top: 15px; // Positioned near the top
        right: 15px; // Positioned near the right edge
        padding: 1px 5px; // Padding around the button
        line-height: 1; // Line height for the button
        color: #fff; // White color for the icon
      }

      // Styling for any header image within the modal.
      .headerImage {
        max-width: 100%; // Maximum width is 100% of the container
        height: auto; // Height is auto to maintain aspect ratio
        display: block; // Display block for proper rendering
        margin: 0 auto 20px; // Margin for spacing and centering
        border-radius: 10px; // Rounded corners for the image
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); // Box-shadow for depth
      }
    }
  }
}

// Styling for images of a selected party within the modal.
.partyImage {
  border-radius: 10px; // Rounded corners for the image
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); // Box-shadow for depth
  margin-bottom: 1rem; // Margin at the bottom for spacing
}
