@import '../../styles/mixins';
@import '../../styles/globals';

// Container voor de topiclijst, zorgt dat deze gecentreerd en niet breder dan 1140px is
.topicListContainer {
  display: flex;
  flex-direction: row; // Horizontale uitlijning
  flex-wrap: wrap; // Zorgt ervoor dat de knoppen naar de volgende regel gaan als er geen ruimte is
  gap: 10px; // Geeft ruimte tussen de knoppen

  // Zorg ervoor dat de container niet breder is dan 1440px
  max-width: 1440px;
  margin: 0 auto; // Centreert de container in de viewport
}

// Standaard stijl voor elke button
.topicListContainer .styledButton {
  flex: 1; // Knoppen groeien om de beschikbare ruimte op te vullen
  min-width: min-content; // De minimum breedte is de breedte van de langste tekst in de knoppen
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase; // Maakt alle letters kapitaal
  font-weight: bold;
}

.selected {
  background-color: $fifth-color; // of een andere kleur naar keuze
  &:hover {
    background-color: darken($primary-color, 10%); // Donkere kleur bij hover voor geselecteerde item
  }
}
