@import '../../styles/globals';
@import '../../styles/mixins';

.pageDescriptionBlock {
  cursor: pointer; // Cursor verandert naar handje
  transition: all 0.3s ease; // Maakt hover-effecten soepeler
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: $fourth-color;
  color: #f8f9fa;

  &:hover, &:focus {
    transform: scale(1.03); // Lichtelijk vergroot het blok bij hover of focus
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7); // Voegt schaduw toe voor diepte
    //border: 2px solid $fourth-color;
    background-color: $third-color;
  }

  // Aanvullende stijlen voor betere visuele indicatie
  //border: 1px solid $fourth-color;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  text-align: center; // Zorgt ervoor dat de tekst netjes gecentreerd is

  a {
    text-decoration: none; // Verwijdert onderstreping van de link
    color: #f8f9fa; // Verandert de tekstkleur
  }
  .pageLink{
    margin-bottom: 10px;
  }
  .pageTitle {
    margin-top: 10px;
  }
}
