@import '../../styles/globals'; // Import global style variables and settings
@import '../../styles/mixins'; // Import mixins for reusable style definitions

// Styling for the page description block
.pageDescriptionBlock {
  cursor: pointer; // Change the cursor to a pointer to indicate clickability
  transition: all 0.3s ease; // Smooth transition for hover effects
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); // Shadow for depth
  background-color: $fourth-color; // Background color
  color: #f8f9fa; // Text color

  // Hover and focus states
  &:hover, &:focus {
    transform: scale(1.03); // Slightly enlarge the block on hover or focus
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7); // Enhanced shadow for depth
    background-color: $fifth-color; // Change background color
  }

  // Additional visual styling
  border-radius: 4px; // Rounded corners
  padding: 10px; // Padding around content
  margin: 10px; // Margin around the block
  text-align: center; // Center align the text

  // Styling for links within the block
  a {
    text-decoration: none; // Remove underline from links
    color: #f8f9fa; // Set link text color

    // Nested styling for specific elements inside the block
    .pageLink {
      margin-bottom: 10px; // Bottom margin for page link
    }
    .pageTitle {
      margin-top: 10px; // Top margin for page title
    }
  }
}
