@import '../../styles/globals';
@import '../../styles/mixins';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  background: linear-gradient(to right, $secondary-color, $primary-color );
  .footerTekst {
    color: white;
    margin-top: 5px;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;



  a {
    margin: 10px;
    font-size: 30px;
    color: white; // Pas de kleur aan naar voorkeur

    &:hover {
      color: grey; // Pas de hoverkleur aan naar voorkeur
    }
  }
}
