@import '../../styles/mixins';
@import '../../styles/globals';

// Container for the position of a party
.partyPositionContainer {
  background-color: #f8f9fa; // Light background color for better readability
  border-radius: 8px; // Rounded corners for aesthetic appeal
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); // Subtle shadow for depth
  margin-bottom: 16px; // Space between each party position container
  padding: 16px; // Internal spacing
  max-width: 100%; // Ensures the container does not exceed the parent's width

  .partyName{
    color: $secondary-color;
    text-align: center;

    @include extra-small-screen {
      font-weight: bold;
      font-size: 1rem; // kleinere grootte voor kleine schermen
    }

    @include small-screen {
      font-weight: bold;
      font-size: 1.5rem; // kleinere grootte voor kleine schermen
    }

  }

  // Styling for the list of positions
  .positionList {
    list-style-type: none; // Removes default list styling
    padding: 0; // Resets padding to maintain container size
    margin: 0; // Resets margin to maintain layout consistency
    display: grid; // Utilizes grid for a structured layout
    grid-template-columns: 1fr 2fr; // Allocates space for topic and position
    column-gap: 16px; // Space between the columns for visual separation
    @include extra-small-screen {
      display: flex;
    }

    li {
      display: contents; // Allows children to be laid out as if they are direct children of the grid
      color: $secondary-color;

      strong {
        color: $secondary-color; // Dark color for the topic for contrast
        grid-column: 1; // Aligns topic to the first column
      }

      span {
        grid-column: 2; // Aligns position to the second column
      }
      @include extra-small-screen {
        display: flex; // Schakel over naar flexbox
        flex-direction: column; // Elementen verticaal stapelen
        align-items: center; // Centreer de elementen horizontaal

        .topicSmall {
          margin-bottom: 10px; // Ruimte tussen onderwerp en beschrijving
        }

        span {
          // Zorgt ervoor dat de tekst en de knoppen correct uitgelijnd zijn
          .boldText, .moreText {
            font-weight: normal;
            display: block; // Elk element op een nieuwe regel
            width: 100%; // Volledige breedte van de container gebruiken
          }
          .PartyPosition .boldText {

          }
        }
      }
    }
  }
}

.boldText {
  font-weight: bold; // Makes the first sentence bold
  color: $primary-color; // Change to your preferred color
  margin-bottom: 20px;
}

// Styling for the more text indicator (>>>)
.moreText {
  color: $fourth-color; // Change to your preferred highlight color
  cursor: pointer; // Changes cursor to indicate clickable
  margin-left: 4px; // Spacing for visual separation from the sentence
}