@import '../../styles/mixins';
@import '../../styles/globals';

// Styles for the PartyList container
.partyListContainer {
  display: grid; // Use a grid layout for items
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Responsive grid with columns of at least 250px
  gap: 20px; // Space between grid items
  margin-inline: 20px; // Horizontal margin

  // Styles for individual party items within the PartyList
  .partyItem {
    background: #fff; // White background for each item
    border: 1px solid $fourth-color; // Border with the color defined in variables
    border-radius: 4px; // Rounded corners
    overflow: hidden; // Hide any overflowing content
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Box shadow for depth
    transition: box-shadow 0.3s ease, transform 0.3s ease; // Smooth transitions for shadow and transform
    text-align: center; // Center-align text
    width: 100%; // Full width
    max-width: 100%; // Max width to avoid overflow
    display: flex; // Use flex layout
    flex-direction: column; // Stack children vertically
    align-items: center; // Center children horizontally

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); // Larger shadow on hover
      transform: scale(1.05); // Scale up slightly on hover
    }

    // Styles for the party image inside each party item
    .partyImage {
      width: 100%; // Full width of its container
      height: 350px; // Fixed height for uniformity
      object-fit: cover; // Cover the area without stretching
      margin-bottom: 10px; // Space below the image
      border-radius: 8px; // Rounded corners for the image
    }

    // Styles for the button used to select the party
    .selectedButton {
      background-color: $primary-color; // Background color from variables
      width: 100%; // Full width
      padding: 10px 0; // Padding on top and bottom
      margin-top: auto; // Align to the bottom of the container
    }
  }
}
