@import '../../styles/mixins';
@import '../../styles/globals';

// PartyList.module.scss
.partyListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Creates a responsive grid layout with a minimum column width of 250px
  gap: 20px; // Adds space between grid items
  margin-inline: 20px;
  //margin-inline: 50px;
}

.partyItem {
  background: #fff;
  border: 1px solid $fourth-color;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease; // Voeg een overgangseffect voor de box-shadow en transform toe
  text-align: center;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); // Vergroot het element met 5% op hover
  }
}


.partyImage {
  width: 100%; // Ensures the image takes the full width of its container
  height: 350px; // Sets a fixed height for all images
  object-fit: cover; // Ensures the image covers the area without stretching
  margin-bottom: 10px; // Adds some space between the image and the button below
  border-radius: 8px;
}

.selectedButton {
  background-color: $primary-color; // Sets the background color of the selected button to red
  width: 100%; // Ensures the button fills the width of its container
  padding: 10px 0; // Adds padding to the top and bottom of the button
  margin-top: auto; // Pushes the button to the bottom of the container
}
