@import '../../styles/mixins';
@import '../../styles/globals';

// Container for the positions page, centering it horizontally with a flex layout
.positionPageContainer {
  max-width: 1440px;
  margin: 0 auto; // Horizontally center the container itself
  display: flex; // Make this a flex container
  justify-content: center; // Horizontally center content within the flex container
  align-items: center; // Vertically center content within the flex container
  flex-direction: column; // Stack children vertically
  @include extra-small-screen {
    margin-inline: 15px; // Adjust margin for extra-small screens
  }

  // Container for topics with bottom margin
  .topicsContainer {
    margin-bottom: 2rem; // Bottom margin for the topics container
  }
}