@import '../../styles/mixins';
@import '../../styles/globals';

.selectedPartyItemContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.selectedPartyItem {
  display: flex; // Gebruik flex in plaats van grid
  align-items: center; // Centreer items verticaal
  justify-content: space-between;
  width: 100%;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

.partyName{
  font-weight: bold;
}

.positionText{
    @include extra-small-screen {
      font-size: 0.9rem;
    }
    @include small-screen {
      font-size: small;
    }
  }
}

.partyLogo {
  flex: 0 0 auto; // Logo niet laten schalen
  max-width: 200px; // Max breedte voor het logo
  margin-inline: 2rem; // Afstand tussen logo en tekst
  border-radius: 8px;
}

.partyInfo {
  padding-right: 16px; // Afstand tussen partij info en knoppen
  @include extra-small-screen {
    margin-inline: 1rem;
  }
  @include small-screen {
    margin-inline: 1rem;
  }
}




.emojiContainer {
  flex: 0 0 auto; // Knoppen niet laten schalen
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include extra-small-screen {
      margin-top: 1.5rem;
    }
  @include small-screen {
      margin-top: 2rem;
    }

  & > .emoji {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .happyEmoji {
    font-size: xx-large;
    color: #03cea4;
  }
  .neutralEmoji {
    font-size: xx-large;
    color: $secondary-color;
  }
  .sadEmoji {
    font-size: xx-large;
    color: $fourth-color;
  }
}



@media (max-width: 768px) {
  .selectedPartyItem {
    flex-direction: column; // Stapel de items op kleine schermen
    align-items: center; // Uitlijnen naar de start
  }

  .partyLogo {
    max-width: 150px; // Kleinere max breedte voor het logo op kleine schermen
    margin-right: 0; // Verwijder de marge rechts op mobiel
    margin-bottom: 8px; // Voeg een marge toe aan de onderkant tussen logo en info
    border-radius: 8px;
  }

  .partyInfo {
    padding-right: 0; // Verwijder padding rechts op mobiel
  }
}
// Styling for the more text indicator (>>>)
.moreText {
  color: $fourth-color; // Change to your preferred highlight color
  cursor: pointer; // Changes cursor to indicate clickable
  margin-left: 4px; // Spacing for visual separation from the sentence
}

.restOfTextContainer {
  margin-top: 20px;
}