@import '../../styles/mixins';
@import '../../styles/globals';

// Container for the parties page, using a grid layout for structure
.partiesPageContainer {
  display: grid;
  gap: 20px; // Space between grid items
  padding-bottom: 20px; // Padding at the bottom of the container
  max-width: 1440px; // Max width to control the layout size
  margin: 0 auto; // Centering the container within the viewport

  // Styling for the description section of the page
  .pageDescriptionsDetails {
    text-align: center; // Center align the text
  }

  // Styling for the image of a selected party
  .partyImage {
    border-radius: 10px; // Rounded corners for the image
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); // Shadow for depth
    margin-bottom: 1rem; // Margin at the bottom for spacing
  }
}

// Removed the .headerText styling as it should be part of the PageHeader component's SCSS
