@import '../../styles/globals';
@import '../../styles/mixins';

.backgroundImage {
  max-width: 100%; // Maximale breedte is 100% van de viewportbreedte
  max-height: 100vh; // Maximale hoogte is 100% van de viewporthoogte
  width: auto; // Behoud de oorspronkelijke verhoudingen van de afbeelding
  height: auto; // Behoud de oorspronkelijke verhoudingen van de afbeelding
  display: block; // Zorgt voor een correcte weergave van de afbeelding
  margin: 0 auto 1rem;
}
// Buitenste container
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  background-color: #F6F7F8;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);



  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 30px
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 25px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #34495E;
    margin-bottom: 20px;
  }

  // Grid voor blokjes
  .pageDescriptionsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
}
